

body {
    background-color: #1B1919;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

audio {
    
}

#icons {
    position: relative;
    float: right;
    top: 0.5em;
    right: 0.1em;
    display: block;
    width: 58%;
    max-width: 180px;
}
.icon {
	width: 20%;
	height: 20%;
	max-width: 36px;
	max-height: 36px;
}