

body {
    background-color: #201E1F;
    color: white;
}

.container {
    background-color: #201E1F;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#icons {
    position: relative;
    float: right;
    top: 0.5em;
    right: 0.1em;
    display: block;
    width: 58%;
    max-width: 180px;
}
.icon {
	width: 20%;
	height: 20%;
	max-width: 36px;
	max-height: 36px;
}

#footer {
    bottom: 0;
    position: fixed;
    color: #FFFFFF;
    text-align: center;

}