

body {
    background-color: #201E1F;
    color: white;
}

.container {
    background-color: #201E1F;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#logo {
    padding-top: 2em;
}

#playimage {
    padding-top: 2em;
}

#icons {
    position: relative;
    float: right;
    top: 0.5em;
    right: 0.1em;
    display: block;
    width: 58%;
    max-width: 180px;
}
.icon {
	width: 20%;
	height: 20%;
	max-width: 36px;
	max-height: 36px;
}

#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:270px;
}